/**
 * CSS para manter o aspecto de uma div ao redimensionar a tela
 * @folksilva
 *
 * As unidades vmin e vmax são calculadas com base no tamanho da viewport
 * vmin pega a menor proporção e vmax a maior, por exemplo, se a tela possui
 * 1920 x 1080px, 1 vmin será igual a 10,8px (1% de 1080px) e 1 vmax será igual
 * a 19,2px (1% de 1920px).
 * Obs.: Para compatibilidade com o IE9 use a unidade vm também.
 */

.box {
    background: red;
    margin: 20px auto;
}

.box16x9 { /* Formato widescreen das TVs modernas */
    width: 90vmin;
    height: 42.6vmin;
}

.box4x3 { /* Formato tradicional das TVs do século 20 */
    width: 90vmin;
    height: 67.5vmin;
}

.box185x100 { /* Formato de filmes */
    width: 90vmin;
    height: 48.6vmin;
}

.boxanamorphic { /* Formato de filmes anamórficos (widescreen) */
    width: 90vmin;
    height: 48.6vmin;
}

/*
    <div class="box box16x9"></div>
*/
